<nav class="w3-sidenav w3-collapse w3-white w3-animate-left"
	style="z-index: 3; width: 300px;" id="mySidenav">
	<br>
	<div class="w3-container w3-row">
		<div class="w3-col s4">
			<img src="http://www.w3schools.com/w3css/img_avatar2.png"
				class="w3-circle w3-margin-right" style="width: 46px">
		</div>
		<div class="w3-col s8">
			<span>Welcome, <strong>Mike</strong></span>
			<br> 
			<a href="#" class="w3-hover-none w3-hover-text-red w3-show-inline-block w3-tooltip">
				<span style="position:absolute;left:0;bottom:22px" class="w3-text w3-tag">friends</span>
				<i class="fa fa-users"></i>
			</a> 
			<a href="#" class="w3-hover-none w3-hover-text-green w3-show-inline-block w3-tooltip">
				<span style="position:absolute;left:0;bottom:22px" class="w3-text w3-tag">profile</span>
				<i class="fa fa-user"></i>
			</a> 
			<a href="" data-ng-click="aside.out()" class="w3-hover-none w3-hover-text-blue w3-show-inline-block w3-tooltip">
				<span style="position:absolute;left:0;bottom:22px" class="w3-text w3-tag">logout</span>
				<i class="fa fa-sign-out"></i>
			</a>
		</div>
	</div>
	<hr>
	<div class="w3-container">
		<h5>Dashboard</h5>
	</div>
	<a href="#" class="w3-padding-16 w3-hide-large w3-dark-grey w3-hover-black"
		onclick="w3_close()" title="close menu"><i class="fa fa-remove fa-fw"></i> Close Menu</a> 
	<a href="#" class="w3-padding w3-blue"><i class="fa fa-users fa-fw"></i> Overview</a> 
	<a href="#" class="w3-padding"><i class="fa fa-eye fa-fw"></i> Views</a> 
	<a href="#" class="w3-padding"><i class="fa fa-users fa-fw"></i> Traffic</a> 
	<a href="#" class="w3-padding"><i class="fa fa-bullseye fa-fw"></i> Geo</a> 
	<a href="#" class="w3-padding"><i class="fa fa-diamond fa-fw"></i> Orders</a> 
	<a href="#" class="w3-padding"><i class="fa fa-bell fa-fw"></i> News</a> 
	<a href="#" class="w3-padding"><i class="fa fa-bank fa-fw"></i> General</a> 
	<a href="#" class="w3-padding"><i class="fa fa-history fa-fw"></i> History</a> 
	<a href="#" class="w3-padding"><i class="fa fa-cog fa-fw"></i> Settings</a><br>
	<br>
</nav>