<div class="w3-container w3-section">
	<div class="w3-row-padding" style="margin: 0 -16px">
		<div class="w3-half">
			<h5>Profile</h5>
			<section class="w3-container w3-center w3-padding-0">
				<div class="w3-col m6 l6">
					<img class="w3-left" src="http://www.w3schools.com/w3css/img_avatar3.png" alt="Person" width="100%">
				</div>
				<div class="w3-left w3-padding w3-col m6 l6">
					<span class="w3-label w3-left">Name</span>
					<span class="w3-input w3-left">pikaso</span>
					<span class="w3-label w3-left">Email</span>
					<span class="w3-input w3-left">pikas0@hotmail.com</span>
					<span class="w3-label w3-left">Language</span>
					<span class="w3-input w3-left">Ukrainian</span>
					<div class="w3-left w3-row w3-col l12 w3-margin-top">
						<ul class="w3-pagination w3-border w3-round w3-left w3-col s6">
							<li><a class="cn-padding-lr-2 w3-left w3-col s2 cn-lineheight-34" href="#" onclick="slide_left('pf_plugin')">&#10094;</a></li>
							<li><a class="pf_plugin cn-padding-lr-0 w3-center w3-border w3-col s8 cn-lineheight-32 w3-lime w3-hide" href="#"><i class="fa fa-newspaper-o w3-xlarge"></i></a></li>
							<li><a class="pf_plugin cn-padding-lr-0 w3-center w3-border w3-col s8 cn-lineheight-32 w3-deep-orange" href="#"><i class="fa fa-calendar w3-xlarge"></i></a></li>
							<li><a class="cn-padding-lr-2 w3-right  w3-col s2 cn-lineheight-34" href="#" onclick="slide_right('pf_plugin')">&#10095;</a></li>
						</ul>
						<a class="w3-btn w3-blue w3-right w3-btn-floating" href="#" style="margin: 6px;"><i class="fa fa-edit w3-xlarge cn-lineheight-32"></i></a>
					</div>
				</div>
			</section>
		</div>
		<div class="w3-rest w3-row-padding">
			<h5>Feeds</h5>
			<table class="w3-table w3-striped w3-white">
				<tr>
					<td><i class="fa fa-user w3-blue w3-padding-tiny"></i></td>
					<td>New record, over 90 views.</td>
					<td><i>10 mins</i></td>
				</tr>
				<tr>
					<td><i class="fa fa-bell w3-red w3-padding-tiny"></i></td>
					<td>Database error.</td>
					<td><i>15 mins</i></td>
				</tr>
				<tr>
					<td><i
						class="fa fa-users w3-orange w3-text-white w3-padding-tiny"></i></td>
					<td>New record, over 40 users.</td>
					<td><i>17 mins</i></td>
				</tr>
				<tr>
					<td><i class="fa fa-comment w3-red w3-padding-tiny"></i></td>
					<td>New comments.</td>
					<td><i>25 mins</i></td>
				</tr>
				<tr>
					<td><i class="fa fa-bookmark w3-light-blue w3-padding-tiny"></i></td>
					<td>Check transactions.</td>
					<td><i>28 mins</i></td>
				</tr>
				<tr>
					<td><i class="fa fa-laptop w3-red w3-padding-tiny"></i></td>
					<td>CPU overload.</td>
					<td><i>35 mins</i></td>
				</tr>
				<tr>
					<td><i class="fa fa-share-alt w3-green w3-padding-tiny"></i></td>
					<td>New shares.</td>
					<td><i>39 mins</i></td>
				</tr>
			</table>
		</div>
	</div>
</div>
<hr>
<div>
	<h1>Health</h1>
	<p>The ID is {{main.health.id}}</p>
	<p>The content is {{main.health.time}}</p>
</div>