<div class="w3-container w3-display-middle">
	<div class="w3-panel w3-red" data-ng-show="login.error">
		<span data-ng-click="login.error=false;" class="w3-closebtn">×</span>
		<p>There was a problem logging in. Please try again.</p>
	</div>
	<form role="form" class="w3-container" data-ng-submit="login.in()">
		<div class="form-group">
			<label class="w3-label" for="username">Username:</label> 
			<input type="text" class="w3-input" id="username" name="username"
				data-ng-model="login.credentials.username" />
		</div>
		<div class="form-group">
			<label class="w3-label" for="password">Password:</label> 
			<input type="password" class="w3-input" id="password" name="password"
				data-ng-model="login.credentials.password" />
		</div>
		<button type="submit" class="w3-btn w3-green w3-margin-top">Submit</button>
	</form>
</div>
